
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
<h1>Hello! Welcome to Cardinal Selling Services!</h1>
<p>
     1. Upload your urllist.csv file.
    </p>
<p>
     2. Make sure the header says "urllist"
   </p>
<p>
     3. Give me some time to process what you need!
    </p>
<p>
     4. Download once I am done.
</p>
 <form method="POST" action="/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myFile">
        <input type="submit" name="submit">
    </form>
<br>
<br>
<div class="progress" style="height: 25px;">
  <div class="progress-bar" role="progressbar" style="width: {{value}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{value}}</div>
</div>
</body>
</html>